footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid #d3d6da; */
  background-color: #d3d6da;
  width: 45px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
}

.keyboard-column.wide {
  width: 70px;
  height: 60px;
}

.back-space-icon {
  width: 23px;
  height: 23px;
}
