header {
  margin-bottom: 20px;
  border-top: 1px solid #d3d6da;
  border-bottom: 1px solid #d3d6da;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-bar__wordle {
  padding-bottom: 10px;
  padding-left: 60px;
  font-size: 35px;
  font-weight: bold;
}

.info-bar img {
  width: 30px;
  height: 30px;
}
